a{
    padding: 2px;
    font-size: 1.1rem;
}

#services div.box img {
    height: 100px;
    width: 100px;
    margin: auto;
    display: block;
}
input[type] {
    padding: 5px 7px;
    border-radius: 2px;
    
}

.primary {
    margin-top:25px;
    font-size: 1.3rem;
}

.secondary {
    font-size: 1.1rem;
}
